html {
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    color: #000000;
    font-size: 3rem;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-position: center;
}


#main{
    display: flex;
    
}

#menu{
    width: 10%;
    background-color: var(--menu-color);
    color: rgb(2, 3, 17);
    padding: 40px 20px;
}
#menu span{
    font-family: "bold";
    font-size: 1.5rem;
}

#menu ul {
    list-style: none;
    padding: 0;
}

.movie-card p {
    font-family: "regular";
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}
#titulo {
    font-family: "regular";
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
}

#content{
    width: 100%;
    padding: 30px 20px;
    background-color: var(--contet-color);
}

#content-title{
    font-family: "regular";
    text-align: center;
    font-size: 2rem;
}

.movie-card{
    background-color: var(--movie-card-color);
    border-radius: 40px;
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex-direction: column;
}

.movie-card img{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-position: center;
}


#botao{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

button {
    font-family: "bold";
    width: 100%; /*Vai ocupar 100% do botão*/
    max-width: 200px; /*O tamanho máximo vai ser 200*/
    padding: 15px 41px;
    display:flex;
    align-items: center;
    color: green;
    transition: 0.4s; /* Velocidade da animação */
}

/*Quando o mouse passar em cima do botão*/
button:hover{
    transform: scale(1.2); /*Aumenta o tamanho do botão*/
}

footer {
    background-color: var(--footer-color);
    padding: 50px 20px;
    text-align: center;
}

footer span{
    color: #fff;
    font-family: "bold";
    font-size: 1rem;
}
footer p {
    color: #fff;
    font-family: "bold";
    font-size: 1rem;
}

#whatsapp-logo{
    height: 30px;
}
li {
    list-style: none;
}
